html,
body {
    position: relative;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgb(236, 227, 227); /* El color del texto es negro */
    background-color: #3f3d88; /* Establecer el color de fondo en negro */
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding: 150px 0 50px 0;
}

.swiper-slide {
    width: 300px;
    height: 500px;
    background-color: #e93810;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: #FFB900;
}

.icons img {
    width: 120px;
}

.product-content {
    display: flex;
    justify-content: space-between;
}

.product-txt {
    flex-basis: 50%;
}

.product-txt span {
    font-size: 25px;
    color: #FFB900;
    font-weight: bold;
}

.product-img {
    flex-basis: 50%;
    text-align: right;
}

.product-img img {
    width: 120px;
}

.bnt-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #FFB900;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 50px;
    color: #ffffff; /* Color blanco para el texto */
}



